
@media only screen and (max-width:960px){
	#info{
		background-image:none;
	}

	#info ul{
		padding:0;
	}
}

@media only screen and (max-width:800px) {
	#sidebar-right{
		display:none;
	}
	#page{
		width:100%;
		box-shadow: none;
		max-width: none;
		overflow:hidden;
	}

	html{
		width:100%;
	}

	#main-nav{
		position:absolute;
		top:215px;
		border:none;
		z-index:11;
	}

	#main-nav h1{
		background: url("css_img/menu_light.png") no-repeat scroll center 0 #0058A1;
    	border: 2px solid #0058A1;
    	border-radius: 8px 8px 8px 8px;
    	color: #FFFFFF;
    	font-size: 15px;
    	font-weight: bold;
    	height: 25px;
   	 	margin-bottom: 10px;
   	 	padding: 10px 0 0 10px;
    	position: relative;
    	text-transform: uppercase;
    	width: 57px;
    	cursor:pointer;
	}

	#main-nav > ul{
		display:none;
		width:90%;
		border:1px solid #ccc;
		border-radius:10px;
		background-color:#fff;

	}

	#main-nav h1.open{
		width:210px;
	}

	#main-nav > ul.open{
		display:inline-block;
		max-width:100%;
		min-width:100%;
		font-size:1em;
		margin-top:0px;
	}

	#main-nav > ul li{
		min-height:18px;
		padding:10px 5px 10px 17px;
		background-position:10px 16px;
	}

	#main-nav >ul li ul{
		margin-top:5px;
	}

	#main-nav >ul li ul li{
	background: url('css_img/i-bullet-dash-blue.png') no-repeat 0px 20px;
	}


	#sidebar, .plantilla2 #sidebar{
		float:none;
		width:100%;
		margin-top:40px;
	}


	#content, .plantilla2 #content{
		/*float:none;*/
		width:98%;
		float:left;
		position:relative;
		top:45px;
	}

	#info{
		background-color:#fff;
		border-radius:0;
		border:1px solid #ccc;
		margin:10px 0 0 0;
		width:99%;
		display:inline-block;
		background-image: none;
	}

	#info ul{
		margin-left:0;
	}

	#info h1 {
		cursor: pointer;
	}

	#info.hide{
		display:none;
	}

	#infomobil{
		display:block;
		margin-top:10px;
		border:1px solid #ccc;
		background-color: #eee;
	}

	#info-link{
		display:block;
		height:40px;
		width:40px;
		background: url('../img/i-info-big.png') no-repeat;
		margin-top:10px;
	}

	#info-link:hover{
		border: none;
	}


	#xarxes-socials{
		background: none;
	}

	#capcalera{
		height:100px;
	}

	#capcalera img{
		width:800px;
	}

	/*estils capes grises*/
	#page .bg_gris, #page .bg_gris_menu{
		background-color: #eee;
		display:block;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		min-height:100%;
		z-index:-1;
		opacity: 0.6;
		cursor: pointer;
	}

	#page .bg_gris.active{
			z-index:8;

	}

	#page .bg_gris_menu.active{
			z-index:10;
	}

	/*estils distribuidora*/
	.dist-2-col > ul > li{
		float:none;
		width:95%;
		padding:1%;
	}
	form input[type="text"], form textarea{
			width:90%;
		}

	form label{
		display:block;
		float:none;
	}

	.table01.responsive_scroll table{
		min-width:500px;
	}

	.table01.responsive_scroll,
	.table02.responsive_scroll{
		overflow-y:hidden;
	}

	.table01.responsive_col .ocultar,
	.table02.responsive_col .ocultar{
       display:none;
	}
}


/*estils per amplada inferior a 550px*/
@media only screen and (max-width:550px) {

	    body{
	    	font-size:0.7em;
	    }

		#capcalera img{
			display:none;
		}

		#capcalera hgroup{
			top:0;
		}

		#capcalera{
			background:url("../img/fons_alternatiu.jpg");
			height:100px;
		}


		#boto{
			display:block;
			position:absolute;
			left:200px;
			top:80px;
		}

		#content{
			width:95%;
	        margin-right:1%;
		}

		#idiomes{
			position:absolute;
			top:30px;
			right:10px;
			z-index:666;
			background-color: transparent;
			height:50px;
			border:none;
		}

		.js{
			display:none;
		}

		#idiomes.open{
			display:block;
		}

		#idiomes ul{
			background-color: #fff;
			border-radius:10px;
			border:1px solid #ccc;
			margin-left:0;
			padding-left:0;
			width:110px;
		}

		#idiomes ul li{
			float:none;
			width:100%;
			border-top:1px solid #ccc;
			width: 90px;
		}

		#idiomes ul li.selected{
			border-top:none;
		}

		.langhide{
			display: block;
		}

		ul.data{
			margin-top:10px;
		}

		ul.data li{
			float:none;
		}


		#main-nav{
			top:180px;
		}


		#logo {
			margin:12px 0 3px 6px;
		}

		#logo img{
			width:180px;
		}
		.video{
			width:90%;
		}

		.video iframe{
			width:340px!important;
			height:190px!important;
		}

		#xarxes-socials{
			margin-top:20px;
		}

		#xarxes-socials .icones{
			width:auto;
			display:inline-block;
			margin:auto;
			clear:both;
		}

		form input[type="text"], form textarea, form input[type="submit"]{
			padding:10px;
			font-size:0.8em;
		}

		form input[type="submit"]{
			text-transform: uppercase;
		}
		.taula_responsive.large-only{
			display:none;
		}

		.taula_responsive.small-only{
			display:table;
			width:100%;
		}

}