html{
	font-family:arial;
	font-size:125%;
	
}

h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}

ul, ol{
	list-style-type: none;
}


body{
	font-size:0.6em;
	margin:0;
	padding:0;
}

a:link, a:visited, a:active {
    border: medium none;
    color: #333333;
    text-decoration: none;
}
a:hover, a:focus {
    border-bottom: 1px dotted #0059A2;
    color: #0059A2;
    cursor: pointer;
    text-decoration: none;
}


header hgroup{
	position: relative;
	top:-100px;
	left:10px;
	background-color:rgba(200,200,200, 0.5);
	padding:10px;
	max-width:400px;
	display:inline-block;
}

#capcalera{
	padding-top:16px;
	background:url('css_img/franja.png') no-repeat top left;
	display:inline-block;
	width:100%;
	overflow:hidden;
	height:130px;
}


header h2, header hgroup h1 {
color:#fff;
}

#idiomes{
	background-color:#ccc;
	max-width:300px;
	float:right;
	border-bottom-left-radius:10px;
	height:30px;
	border:1px solid #ccc;
}


#idiomes li.selected a{
	font-weight:bold;
}

.langhide{
	display:none;
	float:right;
	position:relative;
	top:15px;
	right:20px;
	font-size:1.0em;
	font-weight: bold;
	background: url('../img/arrow_down_menu.png') no-repeat bottom right;
	padding-right:20px;
}

.langhide.active{
	background: url('../img/arrow_up_menu.png') no-repeat bottom right;
}


#logo{
	display:inline;
	float:left;
	margin:18px 0 10px 25px;
	width:216px;
}

#idiomes ul{
	margin-top:0;
}

#idiomes ul li{
	float:left;
	padding:10px;
}

#idiomes.mov ul li{
	float:none;
}



#page{
	max-width:960px;
	margin:auto;
	background-color: #fff;
	box-shadow:0px 4px 9px #676767;
	margin-top:-10px;
}


/*plantilla 1*/

#sidebar{
	display: inline-block;
	width:20%;
	min-width: 160px;
	float:left;

}

 #content{
	display: inline;
	width:77%;
	float:right;
	margin-left:1%;
	margin-right:1%;
}


/*plantilla 2*/

.plantilla2 #wrapper{
	width:99%;
}

.plantilla2 #sidebar-right{
	float:right;
	width:24%;
}

.plantilla2 #sidebar-right img{
	width:100%;
}

.plantilla2 #content{
	width:54%;
	float:right;
}

.plantilla2 #sidebar{
	width:20%;
}

/*plantilla 3*/

.plantilla3 #content{
	width:98%;
}




#wrapper{
width:100%;
margin-top:10px;
padding:0 5px 0 5px;
display:inline-block;
}

#main-nav, #info{
	border:1px solid #eee;
	border-radius:7px;
	margin-bottom:7px;
}

#main-nav ul{
	padding-left:6px;
	display:block;

}

#main-nav ul li{
	background: url('css_img/i-arrow-menu.png') no-repeat 0px 9px;
	padding:4px 0 4px 12px;

}

#main-nav ul li.open{
	background: url('css_img/i-arrow-menu-open.png') no-repeat 0px 9px;
	padding-left:20px;
}

#main-nav ul li ul li{
	background: url('css_img/i-bullet-dash-blue.png') no-repeat 0px 11px;
	margin-top:2px;
}


#main-nav h1, #info h1{
	margin-top:0;
	padding:4px 4px 4px 20px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	font-size:1.3em;
	background:url('../img/i-bullet-blue.png') no-repeat 6px 7px #eee;
}

#main-nav ul > li > ul{
		display: block;
		margin-top:6px;
	}

#main-nav #button{
	position:relative;
	top:-100px;
	right:-180px;
	height:20px;
	width:30px;
	background-color: #000;
}

#content article{
	margin-bottom:20px;
}




#inside-content{
	display: inline-block;
}


#peu{
	background-color: #eee;
	display:inline-block;
	min-height:90px;
	width:100%;
	box-shadow: 0px -3px 3px #ccc;
}



ul.data{
	margin-top:40px;
}

ul.data li{
	float:left;
	padding-left:10px;
}

#boto{
	display:none;
	background:url("../img/nav-icon.png") no-repeat 10px 5px;
	background-color: #000;
	height:30px;
	width:40px;
	border-bottom-right-radius:10px;
	text-indent:-300px;
	box-shadow: 3px 3px 3px #000;
}

/*més informacio*/

#info {
    background: url("../img/i-info.png") no-repeat scroll 0.3em 2.8em transparent;
    padding-bottom: 1em;
}

#info ul, #infomobil ul  {
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
}


/*estils xarxes soxials peu*/

#xarxes-socials{
	background: url('../img/bg_footer.png') no-repeat scroll right top;
	width:100%;
	display:inline-block;
	height:40px;
}

#xarxes-socials .icones{
	width:250px;
	float:right;
	margin-top:7px;
}

#xarxes-socials .icones h4{
	display:inline;
	position:relative;
	top:0;
	left:0;
	font-weight: normal;
	padding-right:5px;
}


#xarxes-socials a{
	display:inline-block;
	background: url('css_img/icones-sprite.png') no-repeat;
	text-indent:-9999px;
	height:30px;
	width:30px;
	padding-right:7px;
}


#xarxes-socials a.link-facebook{
	background-position: 0 -93px;
}

#xarxes-socials a.link-twitter{
	background-position: 0 -62px;
}

#xarxes-socials a.link-youtube{
	background-position: 0 -30px;
}

#xarxes-socials a.link-rss{
	background-position: 0 0px;
}

#infomobil{
	display:none;
}

.video {
	max-width:450px;
}

/*estils divs*/

.intro-txt{
	background: none repeat scroll 0 0 #F4F4F4;
   	clear: both;
    margin-bottom: 1em;
   	padding:2%;
   	width:96%;
   	display:inline-block;
}

.intro-txt img{
	float:left;
	padding:2%;
}

.dist-2-col{
	width:96%;
	padding:2%;
}

.dist-2-col img{
	float:left;
	padding: 0 3% 2% 0;
}

.dist-2-col > ul{
	width:100%;
	margin:0;
	padding:0;
}

.dist-2-col > ul > li{
float:left;
width:48%;
padding:1%;
}

.dist-2-col > ul > li > img{
	float:left;
	padding-right:4%;

}

.dist-2-col  p{
	margin-top:0;
}

#content h3{
border-bottom:1px solid #ccc;
font-size:1.3em;
padding:0;
margin-bottom:10px;
}

.dist-2-col h4{
	background: url("css_img/i-arrow-menu.png") no-repeat scroll left 0.4em transparent;
    font-size: 1.1em;
    margin-bottom: 0.3em;
    margin-left:95px;
    padding-left:10px;
    margin-top:0;
}

.dist-2-col h4 a{
color: #0059A2;
}

/*styles form*/
form .block-form{
	margin:15px 0;
}

form label{
	margin-right:10px;
	float:left;
}

form input[type="text"], form textarea{
	border:none;
	background-color:#eee;
	border:1px solid #eee;
	width:300px;
}
form input[type="text"]:focus, form textarea:focus{
	background-color: #fff;
	border:1px solid #333;
}
form input[type="submit"]{
	border:none;
	background-color: #0059a2;
	color:#fff;
	cursor:pointer;
	padding:4px 8px;
}

/*estils de llista*/
.list-bullets li{
	list-style-type: circle;
}

/*estils taules*/
.table01,
.table02 {
	clear: both;
	font-family: arial, sans-serif;
	font-size: 1em;
	margin-bottom: 3em;
}
.table01 table,
.table02 table {
	border: 0;
	border-collapse: collapse;
	width:100%;
	max-width:100%;
}
.table01 caption,
.table02 caption {
	display: none;
}
.table01 th,
.table01 td {
	padding: .5em;
	vertical-align: top;
}
.table01 th {
	background: #ccdeec;
	color: #333;
	border: 1px solid white;
	border-width: 1px 0 0 0;
}
.table01 thead th {
	border-width: 0 0 0 1px;
	vertical-align: middle;
	color: #333;
	text-align: left;
}
/*.table01 tbody th {
	text-align: right;
}*/
table th.text_dreta {
	text-align: right;
}
table th.text_centrat {
	text-align: center;
}
.table01 thead th.first {
	background: #337ab5;
	color: #fff;
	border-width: 0;
}
.table01 tr {
	background-color: #f0f5f9;
}
.table01 td {
	border: 1px solid white;
	border-width: 1px 0 0 1px;
	/*background-color: #f0f5f9;*/
}
.table02 table {
	border-collapse: inherit;
}
.table02 th,
.table02 td {
	border: 0;
	padding: .5em;
}
.table02 th {
	font-weight: bold;
	border-bottom: #999 1px solid;
}
.table02 td {
	border-bottom: #ccc 1px solid;
}
.table02 th.col01 {
	width: 35%;	
}
.table02 th.col02 {
	width: 25%;	
}
.table02 th.col03 {
	width: 40%;	
}
.table02 a {
	color:#0059a2;
	border-bottom: none;
}
.table02 a:hover,
.table02 a:focus {
	border-bottom: 1px dotted #0059A2;
}

/* Taules Zebra (maig 2013): */
table.zebra {
	font-size: 0.9em;
}
table.zebra td {
	padding: 0.3em 0.5em;
}
.zebra tr:nth-child(even) { /* Taula tipus zebra mitjançant CSS3 (2013-05-22) */
	background-color: #E8F0F7;
}
table.zebra .senar { /* Obsolet: utilitzem l'anterior classe '.zebra tr:nth-child(even)' (2013-05-22). */
	background-color: #E8F0F7;
}

/* Taules amb fila destacada mitjançant 'js/jquery.init_taules.js' (maig 2013): */
.table01 tr.fila_destacada ,
.table01 tr.fila_destacada:nth-child(even) { /* td {*/
	/*font-weight: bold;*/
	color: #FFF;
	background-color: #C0C0C0; /* #AAA; */
}

/* Les 'table02' tenen fons blanc. Per tant no cal enfosquir tant el destacat (2013-05-22): */
.table02 tr.fila_destacada ,
.table02 tr.fila_destacada:nth-child(even) {
	color: #FFF;
	background-color: #d5d5d5; /* #ccc; */
}

.taula_responsive.small-only{
	display:none;
}
